.home {
  flex: 4;
  padding: 32px;
  margin-top: 60px;
}

.dashboardTitle {
  font-size: 32px;
  font-weight: 600;
}

.cards {
  margin-top: 30px;
}

.grid {
  margin-bottom: 10px;
}

.content {
  margin-right: 10px;
}

.overview {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
